@mixin circle-layout($radius) {
  $count: var(--items-count);

  @for $i from 1 through $count {
    $angle: calc((360deg / $count) * ($i - 1));
    $x: cos($angle) * $radius;
    $y: sin($angle) * $radius;

    & *:nth-child(#{$i}) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) translate($x, $y);
    }
  }
}