$font-primary: "PT Sans", sans-serif;
$font-secondary: "Bebas Neue", sans-serif;

$color-darkgrayblue: #303E58;
$color-grayblue: #42567A;
$color-blue: #3877EE;
$color-fuschia: #EF5DA8;
$color-iris: #5D5FEF;
$color-whitegray: #F4F5F9;

$years-pagination-height: 53rem;
$years-pagination-margin-y: 4.5rem;