@use './_reset';
@import './_vars';
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: $font-primary;
  font-size: 1.6rem; // 16px
  color: $color-grayblue;
  background-color: $color-whitegray;
}

#root {
  height: 100%;
}