@use './_reset';
@use './_vars' as v;
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: v.$font-primary;
  font-size: 1.6rem; // 16px
  color: v.$color-grayblue;
  background-color: v.$color-whitegray;
}

#root {
  height: 100%;
}