@import "@styles/vars";

$line-color: rgba($color-grayblue, 0.1);
$line-gradient: linear-gradient(to bottom, $line-color, $line-color);

.block {
  $line-size: 1px 100%;

  position: relative;
  display: flex;
  min-height: 100%;
  margin-left: 16rem;
  padding-top: 17rem;
  padding-bottom: 5rem;

  background: $line-gradient left center / $line-size no-repeat,
    $line-gradient center center / $line-size no-repeat,
    $line-gradient right center / $line-size no-repeat;
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  position: absolute;
  left: 0;
  padding-left: var(--history-block-padding-y);
  width: 100%;
  max-width: 44rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background: linear-gradient($color-blue, $color-fuschia);
  }
}

.years-slider {
  height: 0;
  width: 100%;
}

.years-slider__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto auto;
  width: 100%;
  order: 2;
  gap: 2rem;

  .controls__progress {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.4rem;
    padding-left: var(--history-block-padding-y);
  }

  .controls__nav {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: var(--history-block-padding-y);
    z-index: 15;

    .nav__btn-next,
    .nav__btn-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border: 1px solid rgba($color-grayblue, 0.5);
      border-radius: 50%;
      cursor: pointer;
      color: $color-grayblue;

      &:hover {
        background-color: white;
      }

      &.nav__btn--disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
      }

      svg {
        user-select: none;
        pointer-events: none;
      }
    }

    .nav__btn-next svg {
      transform: rotate(180deg);
    }
  }
}

.years-slider__pagination {
  --swiper-pagination-top: 0;
  --diameter: calc(var(--radius) * 2);
  $line-size: 100% 1px;

  grid-column: 1 / -1;
  grid-row: 1 / -1;
  counter-reset: bullet-counter;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--years-pagination-margin-y) 0;
  width: 100%;
  height: var(--years-pagination-height);
  z-index: 10;
  background: $line-gradient center center / $line-size no-repeat;

  &:before {
    content: "";
    display: block;
    width: 100%;
    max-width: var(--diameter);
    aspect-ratio: 1 / 1;
    border: 1px solid $line-color;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
  }

  .pagination-bullet {
    $transition-props: 0.4s ease-in-out;
    $elem-size: 4rem;
    --before-min-size: 0.6rem;
    $before-max-size: 5.6rem;

    counter-increment: list-counter;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $elem-size;
    height: $elem-size;
    cursor: pointer;

    span {
      position: absolute;
      left: calc(100% + ($before-max-size - $elem-size) / 2 + 2rem);
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      pointer-events: none;
      user-select: none;
      opacity: 0;
    }

    &:before {
      position: absolute;
      content: counter(list-counter);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--before-min-size);
      height: var(--before-min-size);
      border: 1px solid $color-grayblue;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 1.5;
      background-color: $color-grayblue;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      transition: width $transition-props, height $transition-props,
        background-color $transition-props;
    }

    &:hover,
    &-active {
      &:before {
        width: $before-max-size;
        height: $before-max-size;
        background-color: $color-whitegray;
        border-color: rgba($color-darkgrayblue, 0.5);
      }
    }

    &-active {
      span {
        animation: bullet-title-fade 0.3s ease-in-out forwards 0.8s;
      }
    }
  }
}

@keyframes bullet-title-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1439px) {
  .block {
    margin-left: 10rem;
    padding-top: 14rem;
    padding-bottom: 4rem;
  }

  .title {
    max-width: 38rem;
    font-size: 4.8rem;
  }
}

@media (max-width: 1023px) {
  .block {
    margin-left: 0;
    padding-top: 12rem;
    padding-bottom: 3rem;
  }

  .title {
    max-width: 30rem;
    font-size: 4rem;
  }
}

@media (max-width: 767px) {
  .block {
    padding-top: 10rem;
    padding-bottom: 2rem;
    background: none;
  }

  .title {
    position: relative;
    max-width: 22rem;
    font-size: 3.2rem;

    &::before {
      display: none;
    }
  }

  .years-slider__controls {
    grid-template-columns: 6rem 1fr 6rem;
    order: 3;
    gap: 1rem;

    .controls__progress {
      grid-row: 1 / 2;
    }

    .controls__nav {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      gap: .8rem;

      .nav__btn-next,
      .nav__btn-prev {
        width: 2.5rem;
        height: 2.5rem;

        svg {
          width: .5rem;
        }
      }
    }
  }

  .years-slider__pagination {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 0;
    width: 100%;
    height: auto;
    background: none;

    &:before {
      display: none;
    }

    .pagination-bullet {
      position: relative;
      width: calc(var(--before-min-size) + 1.5rem);
      height: calc(var(--before-min-size) + 1.5rem);

      span {
        display: none;
      }

      &:before {
        position: relative;
        display: block;
        opacity: .4;
        transition: none;
      }

      &:hover,
      &-active {
        &:before {
          opacity: 1;
          width: var(--before-min-size);
          height: var(--before-min-size);
          background-color: $color-grayblue;
          border-color: $color-grayblue;
        }
      }

      &-active {
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .block {
    padding-top: 6rem;
  }

  .title {
    max-width: 14rem;
    font-size: 2rem;

    &::before {
      display: none;
    }
  }

  .years-slider__pagination {
    .pagination-bullet {
      width: calc(var(--before-min-size) + 1rem);
      height: calc(var(--before-min-size) + 1rem);
    }
  }
}
