@import "@styles/vars";

$line-color: rgba($color-grayblue, 0.1);
$line-gradient: linear-gradient(to bottom, $line-color, $line-color);
$years-pagination-max-height: 62rem;
$years-pagination-circle: 53rem;

.block {
  $line-size: 1px 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 17rem 8rem 0;

  background: $line-gradient left center / $line-size no-repeat,
    $line-gradient center center / $line-size no-repeat,
    $line-gradient right center / $line-size no-repeat;
}

.title {
  position: absolute;
  left: 0;
  padding-left: 8rem;
  width: 100%;
  max-width: 44rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5px;
    height: 90%;
    background: linear-gradient($color-blue, $color-fuschia);
  }
}

.years-slider {
  height: 0;
  width: 100%;
}

.years-slide {
  $year-font-size: 20rem;

  position: absolute;
  inset: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc($year-font-size / 2);
  width: 100%;
  height: 100%;
  max-height: $years-pagination-max-height;
  user-select: none;
  z-index: -1;

  .year {
    font-size: $year-font-size;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.2rem;

    &:nth-child(1) {
      color: $color-iris;
    }

    &:nth-child(2) {
      color: $color-fuschia;
    }
  }
}

.years-slider__pagination {
  $line-size: 100% 1px;

  counter-reset: bullet-counter;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  width: 100%;
  height: 100%;
  max-height: $years-pagination-max-height;
  z-index: 10;
  background: $line-gradient center center / $line-size no-repeat;

  &:before {
    content: "";
    display: block;
    width: 100%;
    max-width: $years-pagination-circle;
    aspect-ratio: 1 / 1;
    border: 1px solid $line-color;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
  }

  .pagination-bullet {
    $transition-props: 0.4s ease-in-out;
    $elem-size: 4rem;
    $before-min-size: 0.6rem;
    $before-max-size: 5.6rem;

    counter-increment: list-counter;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $elem-size;
    height: $elem-size;
    cursor: pointer;

    span {
      position: absolute;
      left: calc(100% + ($before-max-size - $elem-size) / 2 + 2rem);
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.5;
      pointer-events: none;
      user-select: none;
      opacity: 0;
    }

    &:before {
      position: absolute;
      content: counter(list-counter);
      display: flex;
      align-items: center;
      justify-content: center;
      width: $before-min-size;
      height: $before-min-size;
      border: 1px solid $color-grayblue;
      border-radius: 50%;
      font-size: 2rem;
      line-height: 1.5;
      background-color: $color-grayblue;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      transition: width $transition-props, height $transition-props,
        background-color $transition-props;
    }

    &:hover,
    &-active {
      &:before {
        width: $before-max-size;
        height: $before-max-size;
        background-color: $color-whitegray;
        border-color: rgba($color-darkgrayblue, 0.5);
      }
    }

    &-active {
      span {
        animation: bullet-title-fade 0.3s ease-in-out forwards 0.8s;
      }
    }
  }
}

.years-slides__controls {
  position: relative;
  transform: translateY(-100%);
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  z-index: 15;

  .controls__progress {
    font-size: 1.4rem;
  }

  .controls__nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    .nav__btn-next,
    .nav__btn-prev {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      border: 1px solid rgba($color-grayblue, 0.5);
      border-radius: 50%;
      cursor: pointer;
      color: $color-grayblue;

      &:hover {
        background-color: white;
      }

      &.nav__btn--disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .nav__btn-next svg {
      transform: rotate(180deg);
    }
  }
}

@keyframes bullet-title-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
