@use "@styles/vars" as v;

.years-banner {
  --year-font-size: 20rem;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--year-font-size) / 2.2);
  height: calc(var(--years-pagination-height) + var(--years-pagination-margin-y) * 2);
  user-select: none;
  z-index: -1;

  .year {
    font-size: var(--year-font-size);
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.2rem;

    &:nth-child(1) {
      color: v.$color-iris;
    }

    &:nth-child(2) {
      color: v.$color-fuschia;
    }
  }

  @media (max-width: 1439px) {
    --year-font-size: 16.6rem;
  }

  @media (max-width: 1023px) {
    --year-font-size: 13rem;
  }

  @media (max-width: 767px) {
    --year-font-size: 8rem;

    position: relative;
    height: auto;
    margin: 5.6rem 0;
  }

  @media (max-width: 479px) {
    --year-font-size: 5.6rem;
  }
}
